.cityContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-darkLight--1);
  margin-top: 2%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  align-items: start;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  word-wrap: break-word;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}
.cityHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.wiki a,
.wiki a:link,
.wiki a:visited {
  color: var(--color-buttons--green);
  text-decoration: none;
  transition: 0.3s all;
}

.wiki a:hover {
  color: var(--color-buttons-green--hover);
}

.wiki {
  margin-top: 1rem;
  text-align: start;
  padding-top: 1rem;
}

.date {
  display: flex;
  text-align: end;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.05rem;
  margin-top: 1rem;
  text-align: start;
  padding-top: 1rem;
  max-width: fit-content;
  width: 100%;
}

.notes > p {
  max-width: 100%;
}

.flag {
  display: flex;
  padding-top: 0.8rem;
}
